.login {
    width: 40%;
    height: 100%;
    margin: 10px auto;
    border-radius: 5px;
    background: white;
}

.login__logo {
    margin-top: 10px;
    margin-left: 50%;
    transform: translate(-50%, 0);
    width: 200px;
}

.login h4 {
    font-size: 34px;
    padding: 10px;
    margin-left: 19px;
}

.login form {
    padding: 10px;
}

.login label {
    display: block;
    margin: 0 19px;
    font-weight: bold;
}

.login input {
    width: 90%;
    height: 30px;
    outline: none;
    border-radius: 6px;
    margin: 10px 18px;
}

.login button {
    font-size: 18px;
    margin-top: 16px;
    padding: 10px;
    border: none;
    width: 100%;
    background-color: #f0c14b;
    border-color: #a88734 #9c7a31 #846a29;
    color: #111;
    cursor: pointer;
    display: block;
    width: 91%;
    margin-bottom: 18px;
    margin-left: 19px;
}

.login button:hover {
    background-color: orange;
}